<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <!--<h1 class="font-weight-light">Home</h1>-->
                <!--<p class="lead">Hello!</p>-->
                <div class="btn-group">
                    <a class="btn btn-info" id="scrapCards">Get Cards</a>
                    <a class="btn btn-primary" id="scrapRivals">Get Rivals</a>
                    <a class="btn btn-success" id="scrapFusions">Get Fusions</a>
                    <a class="btn btn-warning" id="scrapRituals">Get Rituals</a>
                    <a class="btn btn-danger" id="scrapEquips">Get Equips</a>
                    <a class="btn btn-primary" id="scrapImages">Get Images</a>
                    <a class="btn btn-secondary" id="showCards">Show Cards</a>
                </div>
                
                <div class="container">
                    <div id="result">
                        
                    </div>
                </div>
                <!--<%- include('test-form') %>-->
            </div>
        </div>
    </div>
</header>