<!doctype html>

<html lang='en'>
<head>
    <meta charset='utf-8'>

    <title>Yu-Gi-Oh Scraper</title>
    <meta name='description' content='NodeJS Server with Express'>
    <meta name='lordhunos' content='node-server'>

    <!--<link rel='stylesheet' href='css/styles.css?v=1.0'>-->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/custom.css'>

</head>

<body>